@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Gluten:wght@300&family=Roboto+Mono:ital@1&display=swap');

.fontgluten 
{
    font-family: 'Gluten', cursive;
}

.fontgem
{
    font-family: 'Gemunu Libre', sans-serif;
}

.fontrobo
{
    font-family: 'Roboto Mono', monospace;
}